.App {
  text-align: center;
  background-color: #3498db;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainDiv {
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 40px
}

.heroSectionButtons {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

.heroSectionButtons button{
  margin: 20px;
}

.signUpButton {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
}

.baitDiv {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
}

.baitDiv div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.image1 {
  width: 120px;
  height: 120px;
  padding: 20px;
}

/* Navbar Content */

.navbar {
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.navbar div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar h2 {
  padding: 20px;
}

.navbar h2:hover {
  color: #3498db;
}

.navbar Link {
  padding: 20px;
}

.navbar Link:hover {
  color: #3498db;
}

/* Storage Plans css */

.plansDiv {
  padding: 20px;
  display: flex;
  flex-direction: Row;
  justify-content: center;
}

.plansDiv h1 {
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.plansDiv h2 {
  padding: 20px;
}

.plansDiv button {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
}

.planDiv {
  background-color: #fff;
  padding: 20px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.footer {
  background-color: #2980b9;
  padding: 20px;
  color: #fff;
}
