.App {
  text-align: center;
  background-color: #3498db;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainDiv {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 40px
}

.heroSectionButtons {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

.heroSectionButtons button{
  margin: 20px;
}

.signUpButton {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
}

.otherPlansButton {
  padding: 20px;
}

.baitDiv {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
}

.baitDiv div {
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.baitDiv p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image1 {
  width: 50%;
  height: 50%;
  padding: 20px;
}

.infoDiv {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fff;
}

.infoDiv img {
  object-fit: contain;
  width: 45%;
  height: 35%;
}

.infoDiv div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar Content */

.navbar {
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.navbar div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar h2 {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.navbar h2:hover {
  color: #3498db;
}

.navbar Link {
  padding: 20px;
}

.navbar Link:hover {
  color: #3498db;
}

/* Storage Plans css */

.plansDiv {
  padding: 20px;
  display: flex;
  flex-direction: Row;
  justify-content: center;
}

.plansDiv h1 {
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.plansDiv h2 {
  padding: 20px;
}

.plansDiv button {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
}

.planDiv {
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Sign up Page */ 

.SignUpForm {
  padding: 20px;
}




/* Middiv stuff*/
.footerDiv {
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-left: 45%;
  margin-right: 45%;
}

.footer {
  background-color: #2980b9;
  padding: 20px;
  color: #fff;
}