.App {
  text-align: center;
  background-color: #3498db;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainDiv {
  display: flex;
  flex-direction: row;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.heroSectionButtons {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

.heroSectionButtons button{
  padding: 20px;
}

.signUpButton {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
}

.baitDiv {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

/* Navbar Content */

.navbar {
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.navbar div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar h2 {
  padding: 20px;
}

.navbar button {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}


.footer {
  background-color: #2980b9;
  padding: 20px;
  color: #fff;
}
